<div class="website-banner">
    <div class="navigation-container">
        <a class="navigation" href="/help">Help</a>
        <a class="navigation" href="/sell">Sell</a>
        <a class="navigation" href="/login">Login</a>
        <a class="navigation signup" href="/signup">Signup</a>
    </div>
    
    <a href="/"><img class="logo" src="images/logo.png"></a>
    <div class="search-toggle">
        <input class="search-input" type="search" placeholder="Search">
        <button class="search-button">
            <img class="search-logo" src="images/search.png">
        </button>
    </div>

    <!-- <button class="js-cart-button cart-button">
        <img src="images/cart.png">
    </button> -->
    <a href="/cart"><img class='js-cart-button cart-button' src="images/cart.png"></a>
</div>