<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles/login.css">
        <link rel="website icon" type="image/png" href="images/website-logo.png">
        <title>
            Login
        </title>
    </head>
    <body>
        <div class="website-banner">
            <div class="icon-banner">
                <a href="index.html"><img class="website-icons" src="images/second-logo.png"></a>
                <img src="images/title-icon.png">
            </div>
            
            <a class="help-button" href="help.html">Need Help?</a>
        </div>


        <div class="main-container">
            <div class="ad-container">
                <img class="ad-banner" src="images/login-ad-banner.png">
                
            </div>

            <div class="login-banner">
                <button class="facebook-button"><img class="icons" src="images/facebook-icon.png">Sign in using Facebook</button>
                <button class="google-button"><img class="icons" src="images/google-icon.png">Sign in using Google</button>

                <p class="word-element">OR</p>

                <input class="input-field" type="email" placeholder="Enter email">
                <input class="input-field" type="password" placeholder="Enter password">
                <button class="login-button">Login</button>

                <a class="link-element forgot-password" href="signup.html">Forgot Password</a>
                
                <div class="portal-subfooter">
                    <p class="word-element no-account">No account?</p>
                    <a class="link-element sign-up" href="signup.html">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>
                © 2023 Acadia. All Rights Reserved.
            </p>
        </div>
    </body>
</html>