<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles/login.css">
        <link rel="website icon" type="image/png" href="images/website-logo.png">
        <title>
            Sign Up
        </title>
    </head>
    <body>
        
        <div class="website-banner">
            <div class="icon-banner">
                <a href="index.html"><img class="website-icons" src="images/second-logo.png"></a>
                <img src="images/title-icon.png">
            </div>
            
            <a class="help-button" href="help.html">Need Help?</a>
        </div>


        <div class="main-container">

            <div class="ad-container">
                <img class="ad-banner" src="images/login-ad-banner.png">
                
            </div>

            <div class="signup-banner">
                <!-- <div class="facebook-button">
                    <img class="icons" src="images/facebook-icon.png">
                    <button>Sign in using Facebook</button>
                </div> -->
                <button class="facebook-button"><img class="icons" src="images/facebook-icon.png">Sign Up using Facebook</button>
                <button class="google-button"><img class="icons" src="images/google-icon.png">Sign Un using Google</button>

                <p class="word-element or-element">OR</p>
                <button class="js-manual-signup-button manual-signup-button">Manually Sign Up</button>
                <div class="inner-signup-container hidden-element">
                    <input class="input-field username-field" type="text" placeholder="Enter username">
                    <input class="input-field" type="date">
                    <input class="input-field" type="email" placeholder="Enter email">
                    <input class="input-field" type="password" placeholder="Enter password">
                    <input class="input-field" type="password" placeholder="Re-enter password">
                    <p class="eula-element">By signing up, you agree to Acadia's <em>Terms of Service</em> & <em>Privacy Policy</em></p>
                    <button class="signup-button">Sign Up</button>
                    
                    <div class="portal-subfooter">
                        <p class="word-element with-account">Already have an account?</p>
                        <a class="link-element sign-up" href="login.html">Log In</a>
                    </div>
                    
                </div>
            
            </div>
        </div>
        <div class="footer">
            <p>
                © 2023 Acadia. All Rights Reserved.
            </p>
        </div>
        <script src="scripts/portal.js"></script>
    </body>
</html>